.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    color: black;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
  }
  
  .menu-icon {
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #dacfcf;
      z-index: 1;
    }
  
    .nav-links.mobile {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }
  