.pointStyle {

}
.process {
    display: none;
  }
.step-process{
    display: block;
}

@media screen and (max-width: 768px) {
    .process {
      display: block;
    }
    .step-process{
        display: none;
    }
}

.ant-steps-item-tail{
    top: 10.5px !important;
}

.ant-steps-item-content{
    margin-top: 30px !important;
}